/*------------------------------------*\
	#LAYOUT-WHITESPACE-FIX
\*------------------------------------*/

$inuit-enable-layout-punctual-fix:	false !default;

/**
 * The inuitcss layout system uses `display: inline-block;` means that
 * the layout items need their whitespace removing in order for them
 * to work correctly.
 *
 * This extension is based on the font size zero method.
 * Use it only if you can't remove whitespace directly in your HTML.
 *
 * 1. Remove whitespace between child element.
 * 2. Restore font-size to `$inuit-base-font-size` using `font-size` mixin.
 */
.#{$inuit-layout-namespace}layout,
%#{$inuit-layout-namespace}layout {
	font-size: 0; /* [1] */
}

    .#{$inuit-layout-namespace}layout__item,
    %#{$inuit-layout-namespace}layout__item {
    	@include inuit-font-size($inuit-base-font-size); /* [2] */
    }






@if ($inuit-enable-layout-punctual-fix == true) {


	/**
	 * Remove whitespace punctually
	 */

	.#{$inuit-layout-namespace}layout--fix,
	%#{$inuit-layout-namespace}layout--fix {
		font-size: 0; /* [1] */

	    > .#{$inuit-layout-namespace}layout__item,
	    > %#{$inuit-layout-namespace}layout__item {
	    	@include inuit-font-size($inuit-base-font-size); /* [2] */
	    }

	}

}